// BODY WIDTH

$body-w: 60rem;

// COLORS

$background: #152A38;
// $color-primary-light: #FF00BD;
$color-primary-light: #00539F;
$color-primary-dark: #A2224C;
// $color-primary-dark: #EA4E4E;

$color-white: #FFF;
$color-black: #000;
$color-grey: #EEE;
$color-primary-grey: #777;

$color-blue: #00539F;
$color-red: #A2224C;
$color-yellow: #DEB407;


// CARDS DIMENSION
$cards-w: 25rem;
$cards-h: 35rem;

$cards-header-h: 50%;

// CARDS PADDING AND MARGIN

$cards-f-contents-margin-top: 15rem;
$cards-f-contents-margin-top-p: 2rem;

$cards-b-contents-margin-bottom-h: 2rem;

// SVG WIDTH

$svg-w: 3rem;
$svg-h: 3rem;
$svg-fill: #DEB407;

// FOOTER

$author-logo: 5rem;

$author-about-h: 10rem;
$author-name-color: #DEB407;