@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/utilities";

@import "layouts/grids";
@import "layouts/cards";

@import "components/buttons";

@import "pages/home";
@import "pages/header";
@import "pages/footer";