.background__btn {

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover {
        border-bottom: none;
        background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
        color: $color-white;
        transform: translateY(-3px);
        box-shadow: 0 .5rem 2rem rgba($color-black, .5);
        -moz-box-shadow: 0 .5rem 2rem rgba($color-black, .5);
    }

    &:active {
        
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        box-shadow: 0 .3rem 1.5rem rgba($color-black, .5);
        -moz-box-shadow: 0 .3rem 1.5rem rgba($color-black, .5);
    }
}

.btn-background {
    display: inline-block;
    padding: 1rem 2rem;
    border-bottom: 2px solid $color-primary-light;
    text-transform: uppercase;
}