@keyframes rotate-180 {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0)
    }
}

@-moz-keyframes rotate-180 {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0)
    }
}

// movingToRight

@keyframes movingToRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    80% {
        opacity: 1;
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes movingToRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    80% {
        opacity: 1;
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// MovingToLeft

@keyframes movingToLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    80% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes movingToLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    80% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}