footer {
    width: 60rem;
    height: 40rem;
    margin: 0 auto;
    //background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-color: $color-grey;
    clip-path: polygon(0 20rem, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 20rem, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 20rem, 100% 0, 100% 100%, 0 100%);
    margin-top: -20rem;
    position: relative;

    .line-border {
        width: 100%;
        height: 1rem;
        background-color: $color-yellow;
        position: absolute;
        bottom: 15rem;
        left: 0;
    }
}

.footer-container {

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    //background-color: #333;
    width: 100%;
    height: 15rem;
    position: absolute;
    bottom: 0rem;

    display: flex;
    justify-content: space-between;

    section {
        //background-color: #DDD;
        width: 45%;
    }
}

// SVG STYLE

.socialmedia {

    display: flex;
    justify-content: space-around;
    align-items: center;

    section {
        //background-color: #333;
        width: $svg-w;
        height: $svg-w;
    }

    .svg-facebook {
    
        .fa-facebook-square {

            a {

                fill: #FFF;
        
                svg {
                    width: $svg-w;
                    height: $svg-h;
                }
        
                &:hover {
                    fill: $svg-fill;
                }
            }
        }
    }
    
    .svg-twitter {
    
        .fa-twitter-square {

            a {

                fill: $svg-fill;
    
                svg {
                    width: $svg-w;
                    height: $svg-h;
                }
        
                &:hover {
                    fill: $color-white;
                }
            }
        }
    }
    
    .svg-instagram {
    
        .fa-instagram-square {

            a {
                fill: #FFF;
    
                svg {
                    width: $svg-w;
                    height: $svg-h;
                }
        
                &:hover {
                    fill: $svg-fill;
                }
            }
        }
    }
}

.author {

    padding-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    section {
        display: flex;
        //background-color: red;
        
    }

    .author-logo {
        align-items: center;
        height: $author-logo; // width 5rem;
        width: $author-logo;
        
        .author-footer-logo {
            width: $author-logo;
            width: $author-logo;
        }
    }

    .author-about {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        align-items: center;
        width: 75%;
        height: $author-about-h;
        padding: .5rem 1rem .5rem 2rem;
        color: #FFF;
        line-height: 1.3;
        

        p {
            font-size: 1.2rem;
            text-transform: uppercase;

            span {

                font-weight: 450;
                color: $author-name-color
            }
        }
    }
}