.contents {
    
    width: $body-w; //58rem
    height: 80rem;
    margin: 0 auto;
    margin: -20% auto 0; 
    background-color: $color-grey;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 10; 
    //background-color: #FF00BD

    &__header {
        position: absolute;
        text-align: center;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        text-transform: uppercase;
        color: transparent;
        top: 13rem;
        left: 50%;

        transform: translateX(-50%)
    }


    
    .contents__cards {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);

        margin-top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        perspective: 1000px;


        .contents__cards-1 {
            position: relative;
            width: $cards-w;
            height: $cards-h;
            transition: all 1s;
            -moz-transition: all 1s;
            transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            perspective: 900px;
            //background-color: #DDD;
            margin-top: 20rem;
        
            div {
                //background-color: #F00;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .contents__cards--front {
                background-color: $color-white;
                box-shadow: 1.5rem 1.5rem 4rem rgba($color-black, .2);
                -moz-box-shadow: 1.5rem 1.5rem 4rem rgba($color-black, .2);
                backface-visibility: hidden;
                z-index: 2;

                //background-image: linear-gradient(to bottom, $color-primary-light, $color-primary-dark);
            }

            .contents__cards--back { 
                backface-visibility: hidden;
                background-color: $color-white;
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                z-index: 1;

                box-shadow: 2rem 2rem 6rem rgba($color-black, .2);
                -moz-box-shadow: 2rem 2rem 6rem rgba($color-black, .2);
            }

            &:hover {
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
            }


        }

        .contents__cards-2 {
            position: relative;
            width: $cards-w;
            height: $cards-h;
            transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transition: all 1s;
            margin-top: 20rem;
            
            div {
                //background-color: #F00;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .contents__cards--front {
                background-color: $color-white;
                box-shadow: 1.5rem 1.5rem 4rem rgba($color-black, .2);
                -moz-box-shadow: 1.5rem 1.5rem 4rem rgba($color-black, .2);
                backface-visibility: hidden; 
                z-index: 2;

                //background-image: linear-gradient(to bottom, $color-primary-light, $color-primary-dark);
            }

            .contents__cards--back {
                background-color: $color-white;
                backface-visibility: hidden;
                z-index: 1;
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                box-shadow: 2rem 2rem 6rem rgba($color-black, .2);
                -moz-box-shadow: 2rem 2rem 6rem rgba($color-black, .2);
            }

            &:hover {
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
            }
        }
    }
}

.contents__cards--front-1 {

    .front-1__header {
        background-image: 
        linear-gradient(to right,rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
        url(../img/camp-nou.jpg); //url(../../img/camp-nou.jpg);
        background-size: cover;
        -moz-background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        width: 100%;
        height: $cards-header-h;
        margin: 0;
        //border-bottom: 2px solid $color-white;

    }

    .front-1__contents {
        margin: 0;
        width: 100%;
        height: 40%;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        //background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

        h1 {
            .span-1 {
                color: transparent; //$color-black;
                margin-top: $cards-f-contents-margin-top;
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                display: inline-block;
                font-size: 1.5rem;

            }

            .span-2 {
                color: transparent; //$color-black;
                margin-top: $cards-f-contents-margin-top-p;
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                display: inline-block;
                font-size: 1.1rem;
                padding: 0 1rem 0;

            }
        }

    }
}

.contents__cards--front-2 {

    .front-2__header {
        margin: 0;
        width: 100%;
        height: $cards-header-h;
        background-image: 
        linear-gradient(to right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
        url(../img/barca.jpg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        //border-bottom: 2px solid $color-white;
    }

    .front-2__contents {

        margin: 0;
        width: 100%;
        height: 40%;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;


        h1 {
            .span-1 {

                color: transparent; //$color-black;
                margin-top: $cards-f-contents-margin-top;
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                display: inline-block;
                font-size: 1.5rem;
            }
            
            .span-2 {
                color: transparent; //$color-black;
                margin-top: $cards-f-contents-margin-top-p;
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                display: inline-block;
                font-size: 1.1rem;
                padding: 0 1rem 0;
            }
        }
    }
}

.contents__cards--back-1 {

    .back-1__contents {
        padding: 3rem 2rem 3rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;

    }

    .back-1__contents-header {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

.contents__cards--back-2 {
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
        width: 80%;
        height: 100%;
        //box-shadow: 2rem 2rem 6rem rgba($color-black, .2);
        
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        text-align: center;

        section {
            width: 100%;
            color: transparent;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;

            &:not(:last-child){
                border-bottom: 1px solid rgba($color-black, .2);
            }
        }

        .box1 {
            text-transform: uppercase;
        }

    }
}